/api/bin/*
/api/build/*
/api/dist/*
/api/nbproject/*
/api/tmp/*
/api/manifest.mf
/api/nbbuild.xml
/api/*.jar

/demo/bin/*
/demo/build/*
/demo/dist/*
/demo/nbproject/*
/demo/tmp/*
/demo/manifest.mf
/demo/nbbuild.xml
/demo/*.jar

/*.jar
/*.tmp
/*.zip